.header {
  padding: 30px;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    margin-left: 18px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.actionButton {
  border: none;
  background: black;
  color: white;
  padding: 10px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;

  &:hover {
    background: lighten(black, 20%);
  }
}

.newPostButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 14px;
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
  margin-right: 8px;

  &:hover {
    background: white;
  }

  img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }
}
